<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Implement this page yourself. It is from individualPost.ejs</p>
        <form action="/show/:postid" method="post"></form>
        <p><%= post.title %></p>
        <p><%= post.description %></p>
        <p><%= post.subgroup %></p>
        <p><%= user?.uname %></p>
       
        <a role="button" href="/edit/:postid">Edit</a>
        </form>
        <a role="button" href="/posts">Cancel</a>
      </div>
    </main>
  </body>
</html>
